<main>
    <%- include('./Contact/Contact') %>
    <%- include('./Autorization/Autorization')%>
    <%- include('./Basket/Basket') %>
    <%- include('./SlideSection/slideSection') %>
    <%- include('./Categoryes/Categoryes') %>
    <%- include('./Greet_Art') %>
    <%- include('./Blog/Blog') %>
</main>