<section class="section-slide-card">
    <% cardlist.forEach(card => {%>
         <div class="card-slide">
            <div class="card-title">
                <h2><%= card.name %></h2>
                <img src="<%= card.image %>" alt="<%= card.name %>">
            </div>
            <article>
                <h3><%= card.type %></h3>
                <p><%= card.descripton %></p>
                <div class="line-article-price"></div>
                <p><%= card.price %> ₽</p>
            </article>
         </div>
    <%}) %>
</section>